# Node modules
node_modules/

dist/
build/

.svelte-kit/
.vite/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

.DS_Store
Thumbs.db

.vscode/

.svelte-kit/

coverage/

*.local
*.log

server/db/*.sqlite
server/db/*.db

.idea/
*.iml

