RESEND_API_KEY=321adshniuhfudshj39
RESEND_FROM_EMAIL='domæne-navn <mail-addresse>'

DB_USER=bruger1
DB_HOST_NAME=192.168.1.1
DB_NAME=randomdbname
DB_PASSWORD=randompassword
DB_PORT=5432
SESSION_SECRET=randomsecrethopefullyencrypted
TEST_EMAIL=testbruger@gmail.com
TEST_USERNAME=testbruger123
TEST_PASSWORD=testbruger123
CLIENT_URL=http://url123.dk/
